.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Overlay oscuro moderno */
.overlay {
  background: rgba(0, 0, 0, 0.55);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;   
  padding-top: 225px; 
  text-align: center;
 
}

.content {
  color: white;
  max-width: 700px;
}

.content h1 {
  font-size: 2.5rem;
  margin-bottom: 1px;
  font-weight: 700;
  color: #5752e6;
}

.content p {
  font-size: 1.0rem;
  margin-bottom: 10px;
  opacity: 0.9;
  color: #09008a;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.btn {
  padding: 14px 32px;
  min-width: 115px;
  max-width: 90px;
}

.primary {
  background: #6366f1;
  color: white;
}

.primary:hover {
  background: #4f46e5;
}

.secondary {
  background: white;
  color: #4f46e5;
}

.secondary:hover {
  background: #e5e7eb;
}

/* 📱 Responsive */
@media (max-width: 768px) {
  .content h1 {
    font-size: 2rem;
  }

  .content p {
    font-size: 1rem;
  }

  .buttons {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }
}